@use '../../scss/main.scss' as *;
@use './HabitTabWidget.scss' as *;

.no-border {
  border: none;
}

.bg-white {
  background-color: $white;
}

.bg-lightgreen {
  background-color: $light-green;
}

.circle {
  width: 60px;
  height: 60px;
  border-radius: calc(60px/2);
  border: none;
  margin: 0.5rem 2rem;
}