@import '../../scss/main.scss';


.GetStarted{
	height: 812px;
	width: 375px;
	background-color: $white;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: absolute;
	z-index: 600;
}

.gsTitle{
	color: $main-green;
	font-size: 40px;
	font-weight: lighter;
	margin: 3.5rem;
}

.gsButton {
	border-radius: 15px;
    box-shadow: 0 3px 6px #00000029;
    height: 48px;
    width: 328px;
    padding: 15px 64px;
    border: none;
	margin: 1rem;
	background-color: $main-green;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: all 400ms;
	text-decoration: none;
	color: $white;
	font-size: 1.2rem;
}

.gsButton:hover{
	background-color: $light-green;
	transform: scale(0.95);
	color: $main-green
}
