@use '../../scss/main.scss' as *;

.OnBoardingContainer {
	// height: 812px;
	// width: 100%;
	width: 375px;
      height: 812px;
	background-color: $main-green;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: fixed;
	z-index: 600;
	margin: auto;
}

.next {
	border-radius: 15px;
  box-shadow: 0 3px 6px #00000029;
  height: 48px;
  width: 328px;
  padding: 15px 64px;
  border: none;
	margin-top: 0.5rem;
	margin-bottom: 1.2rem;
	background-color: $bright-yellow;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: all 300ms;
	z-index: 600;
}

.next:hover {
	background-color: $light-green;
	transform: scale(0.95);
	z-index: 600;
}
