@use '../../scss/main.scss' as *;

.nav-right {
	width: 100%;
	right: 0;
	padding:auto;
	z-index: 200;
	opacity: 0%;
}

.nav-right , .open {
	opacity: 100%;
	// transition: opacity 600ms ease-in;
	// -webkit-animation: fadeEffect 600ms;
	// animation: fadeEffect 600ms;
}

.nav-li {
	float: right;
	clear:both;
	list-style-type: none;
}

// @-webkit-keyframes fadeEffect {
// 	from {opacity: 0;}
// 	to {opacity: 1;}
// }
// @keyframes fadeEffect {
// 	from {opacity: 0;}
// 	to {opacity: 1;}
// }
