@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


.ListItem {
   display: flex;
   flex-direction: row;
   justify-content: flex-end;
   align-items: center;
   width: fit-content;
   height:48px;
   margin-right: 0;
   margin-bottom: 30px;
   padding-right: 4px;
   padding-left:25px;
   border-radius: 10px 24px 24px 10px;
   box-shadow: 0 2px 3px #ccc;
   text-align: center;
}

.list-item-label {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight:600;
    margin-right: 10px;

}

.button {
    width:40px;
    height: 40px;
    border-radius: 20px;
    background-color: #D2F4D0;
    border:none;

}

.button:hover {
    background-color:#44B2A5;
}