@use '../../scss/main.scss' as *;

.weeklyScreenBg {
	position: absolute;
	top:0;
	right:0;
	left:0;
	bottom:0;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0 2rem;
	z-index: 100;
	background-color: rgba(50,50,50,0.5);
}

.reportBg {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-direction: column;
	width: 100%;
	height: auto;
	padding: 2rem;
	padding-bottom: 0!important;
	border-radius: 10px;
	background-color: $white;
	box-shadow: 0px 3px 6px #00000029;
	cursor: pointer;
}

.reportTitle {
	display: flex;
	text-align: center;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin: 1rem 0 2rem 0;
}

.info {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin-top: 20px;
}

.greatJob {
	width: 100%;
	height: 48px;
	border-radius: 10px;
	border: none;
	color: $white;
	font-weight: bolder;
	background-color: $bright-yellow;
	margin-top: 460px;
}

#num {
	font-size: .8rem;
	margin-top: 2.5rem;
	margin-left: 100%;
	color: #FDCA6E;
}

.barContainer {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	width: 85px;
	height: 11px;
	background-color: $white;
	border: 1px solid $bright-yellow;
	border-radius: 10px;
	margin-top: 14px;
}

.bar {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 8px;
	width: 43px;
	height: 11px;
	background-color: $bright-yellow;
	border-radius: 10px;
}

.plantContainer {
	width: 100%;
	height: 300px;
	display:flex;
	justify-content: center;

}

.btnContainer {
	width:100%;
	margin: 1rem 0 2.5rem;
}
