@import '../../scss/main.scss';

*{
	margin:0;
	padding: 0;
	box-sizing: border-box;
}

.tab{
	height: 48px;
	width: 100%;
	background-color: $white;
	padding: 10px;
	cursor: pointer;
	display: flex;
	justify-content: space-between;
	border-radius: 10px;
	align-items: center;
}

.tab p{
	padding: 10px;
}

.tab:hover,.active{
	background-color: #d6d6d6;
}

.content{
	transition: all 0.5 ease-in-out;
	height: 0;
	overflow: hidden;
}

.content p{
	padding:10px;
}

.showContent{
	width: 100%;
	height: 100%;
	margin-top: 2rem;
	background-color: #44B2A5;
	border-radius: 0px 0px 10px 10px;
	color: $black;
	display: flex;
	justify-content: center;
	align-items: center;
}

.textbox{
	width: 100%;
	height: 470px;
	background-color: white;
	border-radius: 10px 10px 10px 10px;
	color: $black;

}
