
.accordion-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #44B2A5;
  width: 428px;
  height: 607px;
}

.accordion-title {
  background-color: white;
  color: black;
  cursor: pointer;
  display: flex;
  align-items: center;
  border: none;
  outline: none;
  transition: background-color 0.6s ease;
  width: 388px;
  height: 48px;
  font-family: 'Montserrat', sans-serif;
  border-radius: 10px;
}

.accordion-title:hover,

.active {
  background-color: #ccc;
}

.accordion-icon {
  margin-left: auto;
  transition: transform 0.6s ease;
}

.rotate {
  transform: rotate(90deg);
}

.accordion-content {
  background-color: white;
  overflow: hidden;
  transition: max-height 0.6s ease;
  border-radius: 25px;
}

.accordion-text {
  font-weight: 400;
  font-size: 14px;
  padding: 18px;
}
