*{
	margin:0;
	padding: 0;
	box-sizing: border-box;
}


.container{
	width: 428px;
	height: 104px;
	background-color: #44B2A5;
	display: flex;
	justify-content: center;
	align-items: center;
}

.accordion{
	width: 388px;
	height: 48px;
	margin: 0 auto;
	border-radius: 10px;
	background-color: white;
}

.tab{
	height: 48px;
	width: 388px;
	background-color: white;
	padding: 10px;
	cursor: pointer;
	display: flex;
	justify-content: space-between;
	border-radius: 10px;
	align-items: center;
}

.tab:hover,.active{
	background-color: #d6d6d6;
}

.content{
	transition: all 0.5 ease-in-out;
	height: 0;
	overflow: hidden;
}

.content p{
	padding:10px;
}

.showContent{
	width: 388px;
	height: 608px;
	background-color: #44B2A5;
	border-radius: 0px 0px 10px 10px;
	color: black;
	display: flex;
	justify-content: center;
	align-items: center;
}

.textbox{
	width: 328px;
	height: 470px;
	background-color: white;
	border-radius: 10px 10px 10px 10px;
	color: black;

}
