@import '../../scss/main.scss';
/*Import main scss for global stylings*/

.bg-green {
	background-color: $main-green;
	padding-top: 3rem;
	padding-bottom: 3rem;
	padding-left: 2rem;
	padding-right: 2rem;
	margin-top: 0px;
}

.marginTop {
	margin-top: 0.5rem;
}

.HabitTabWidget {
	width:100%;
	position: relative;
	display: inline-block;
	transition: opacity 0.5s ease-in;
}

.Tabs__Tab {
	display: inline-block;
	padding: 1em 1em 0 1em;
	color: $black;
	width: fit-content;
	cursor: pointer;
}

.Tabs__Tab:hover, .Tabs__Tab--active {
	background: $main-green;
	color: $black;
}

.Tabs__animate {
	position:absolute;
	top: 100%;
	left: 0;
	right: 0;
	border-bottom: 3px solid orange;
	z-index: -1;
}

.habitTabIdx {
	background-color: $light-green;
	width: 50px;
	height: 50px;
	margin-right: 0.55rem;
	border-radius: 50px;
	border: none;
	color: white;
	box-shadow: 0 3px 6px #00000029;
	transition: opacity 0.3s ease-in;
	transition: all 300ms;
}

.habitTabIdx:hover,
.habitTabIdx:focus {
	cursor: pointer;
	background: $bright-yellow;
}

.habitTabIdx:active {
	transform: scale(0.95);
}
