@use '../../scss/main.scss' as *;

.App {
	text-align: center;
}

button {
	font-size: $body-font;
	font-weight: 600;
	font-family: $font-stack;
	color: #fff;
	margin: 0 5px;
}

.btn {
	font-size: $body-font;
	font-weight: 600;
	font-family: $font-stack;
	color: #fff;
	margin: 0 5px;
	padding: 15px auto;
}

.btn-grey {
	background-color: grey;
	color: #fff;
}

.btn-maingreen {
	background-color: $main-green;
	color: #fff;
}
.btn-yellow {
	background-color: $bright-yellow;
	color: #fff;
	cursor: pointer;
}

.btn-clear {
	background-color: transparent;
}

.btn-link {
	color: $bright-yellow;
	font-size: 14px;
}

.btn-lg {
	border-radius: 15px;
	box-shadow: 0 3px 6px #00000029;
	height: 48px;
	width: 100%;
	padding: 15px auto;
	border: none;
	margin: auto;
}

.btn-sm {
	border-radius: 15px;
	height: 36px;
	width: 105px;
	padding: 9px 32px;
	border: none;
	margin: 1rem;
	box-shadow: 0 3px 6px #00000029;
}

.btn-circle {
	width: 60px;
	height: 60px;
	border-radius: calc(60px/2);
	border: none;
	margin: 1rem;
}
