@import '../../scss/main.scss';
/*Import main scss for global stylings*/

html{
  margin: 0;
  padding: 0;
}

.text-left {
  text-align: left;
}

.dateTimeContainer {
  margin-left: auto;
  padding-left: 2rem;
}

.todayTitle {
  font-size: $heading-font;
  font-weight: 600;
  color: $black;
  margin-bottom: 10px;
}

.todayDate {
  font-size: $subheading-font;
  padding-top: 0;
  color: $black;
  margin-bottom: 20px;
}
