@use '../../scss/main.scss' as *;

.checkItem {
    height: 48px;
    width: 100%;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0px 3px 6px #00000029;
    display: flex;
    justify-content: left;
    align-items: center;
    font-size: 18px;
    padding-left: 20px;
}

.checkItemText {
	text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
	margin-left: 12px;
}

.checkItem > input {
    -webkit-appearance: none;
    height: 25px;
    width: 25px;
	border: 2px solid $bright-yellow;
    border-radius: 50%;
	cursor: pointer;
	outline:none;
	transition: all 300ms;
}

.checkItem > input:checked {
	border: 2px solid $main-green;
	background-color: $main-green;
}

.checkItem > input:hover {
    border: 2px solid $main-green;
}
