.App {
    text-align: center;
  }


.extra{

    margin-top: 50px;
}

.text, .text2{
	display: flex;
	justify-content: flex-start;
	width: 80%;
}

.SettingCard, .SettingCard2{
	display: flex;
	margin-bottom: 20px;
	align-items: center;
	height: 48px;
	width: 388px;
	border-radius:10px;
	background-color: white;
	box-shadow: 0px 3px 6px #00000029;
}
