*{
	margin:0%;
	padding: 0%;
}

.App {
    text-align: center;
		margin:0;
		padding:0;
  }

html {
	margin:auto;
}

.desktop{
	position: absolute;
	top: 0;
	background-color: #44B2A5;
	width: 100%;
	height: 100%;
	z-index: 800;
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.5rem;
	visibility: hidden;
	text-align: center;
}

.extra{
    margin-top: 50px;
}

.text{
	display: flex;
	flex-direction: column;
	width: 80%;
}

.primary-setting-card{
	display: flex;
	margin-bottom: 20px;
	align-items: center;
	height: 48px;
	width: 388px;
	border-radius:10px;
	background-color: white;
	box-shadow: 0px 3px 6px #00000029;
}

.main-setting-card{
	display: flex;
	flex-direction: column;
	height: 120px;
	width: 388px;
	border-radius:10px;
	background-color: white;
	box-shadow: 0px 3px 6px #00000029;
	margin-bottom: 39px;
}

@media (min-width: 500px) {
	.desktop {
		visibility: visible;
	}
}
