/*COLOR VARIABLES*/ 
$main-green: #44B2A5;
$light-green: #D2F4D0;
$bright-yellow: #FDCA6E;
$bg-yellow: #FFF7E8;
$dark-blue: #142B55;

$white: #FFF;
$black: #323232;


/*FONT STACKS*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

$font-stack: 'Montserrat', sans-serif;

$body-font: 18px;

//look at nightly checkin card title 
$heading-font: 24px;

//look at weekly review completed task title
$subheading-font: 20px;
