/*COLOR VARIABLES*/
$main-green: #44B2A5;
$light-green: #D2F4D0;
$bright-yellow: #FDCA6E;
$bg-yellow: #FFF7E8;
$dark-blue: #142B55;

$white: #FFF;
$black: #323232;


/*FONT STACKS*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

$font-stack: 'Montserrat', sans-serif;

$body-font: 18px;

//look at nightly checkin card title
$heading-font: 24px;

//look at weekly review completed task title
$subheading-font: 20px;


/*GLOBAL CLASSES FOR BUTTONS*/
// replaced by Button.scss

/*COLOR CLASS*/
.main-green {
    background-color: $main-green;
}

.black {
    color: $black;
}

.white {
    color: $white;
}

.grey {
    color: grey;
}

body {
 width: 100%;
 background-color:$bg-yellow;
}


*::-webkit-scrollbar {
    width: 12px;
  }

  *::-webkit-scrollbar-track {
    background: rgba(0,0,0,0.05);
    border-radius: 10px;
  }

  *::-webkit-scrollbar-thumb {
    background-color:  rgba($main-green, 0.7);
    border-radius: 20px;
  }

  *::-webkit-scrollbar-thumb:hover {
    background-color:  rgba($main-green, 0.4);
    border-radius: 20px;
  }

//   Home SCREEN RELATED SCSS
.plantAnimationDiv {
    width: 100%;
    height: auto;
    position: absolute;
    z-index: -1;
    bottom: 0;
    margin-top: 10rem;
}

