.nav-right {
    float: right;
    width: fit-content;
    right: 0;
    padding-right: 26px;
    z-index: 200;
    opacity: 0%;
}

.nav-right.open {   
    opacity: 100%; 
    transition: opacity 0.3s ease-in;

}

.nav-li {
    float: right;
    clear:both;
    list-style-type: none;
}