@import '../../scss/main.scss';

html,body{
	font-family: 'Montserrat', sans-serif;
}


.SocialMediaCard{
	position: fixed;
	bottom: 0;
	height: auto;
	padding-bottom: 3rem;
}

#dataLinks,#privacyLinks,#tocLinks{
	font-size: 16px;
	font-weight: normal;
	color: $main-green;
	padding-top: 20px;
}

.followTag{
	font-size:$heading-font;
	margin-top: 1rem;
	margin-bottom: 1rem;

}


svg{
	margin-right: 2rem;
}
